
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header, main, footer {
  padding: 40px;
  text-align: center;
}

header {
  background-color: #eb5e28;
  color: #ccc5b9;
  transform: skew(-5deg);
}

main {
  background-color: #ccc5b9;
}

footer {
  background-color: #333;
  color: white;
}


.hover-image {
  width: 200px;
  transition: transform 0.4s ease;
}

.hover-image:hover {
  transform: scale(1.2);
}


@keyframes fadeInMove {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text {
  font-size: 1.5em;
  animation: fadeInMove 2s ease-in-out;
}


.fancy-button {
  background-color: #403d39;
  color: #ccc5b9;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fancy-button:hover {
  background-color: #eb5e28;
  transform: scale(1.1);
}


a {
  color: #252422;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff5500;
}
